*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

header{
    background-color:rgba(0, 0, 0, 0);
    width: 100%;
    height: 8vh;
}

.encabezado{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.titulo{
    position: absolute;
    color: lime;
    position: absolute;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    left: 40%;
    top: 2%;
}


.logo{
    position: absolute;
    top: 1.5%;
    left: 1%;
}

main{
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.proceso_de_encriptado{
    width: 100%;
    height: 100vh;
}

.textarea1{
    position: absolute;
    background-color:rgba(0, 0, 0, 0);
    width: 40%;
    height: 60%;
    left: 5.5%;
    top: 15%;
    border: none;
    outline: 0;
    resize: none;
    font-family: inherit;
    font-size: 18px;
    color: lime;
}

.textarea1::placeholder{
    color: lime;
}

.condiciones{
    position: absolute;
    top: 77%;
    left: 6%;
    color: lime;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1%;
    position: absolute;
    width: 80%;
    left: 4.5%;
    top: 90%;
    gap: 2%;
}

.encriptar, .desencriptar, .copiar, .borrar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    border-radius: 24px;
    background-color:rgba(0, 0, 0, 0);
    color: black;
    gap: 8px;
    width: 24%;
    border: none;
    -webkit-box-shadow: 0px 5px 3px 0px black;
    -moz-box-shadow: 0px 3px 0px 0px black;
    box-shadow: 0px 5px 3px 0px black;
    transition: 0.7s;
}

.encriptar:hover, .desencriptar:hover, .copiar:hover, .borrar:hover{
    background-color: lime;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 1px 0px black;
    -moz-box-shadow: 0px 2px 1px 0px black;
    box-shadow: 0px 2px 1px 0px black;
    transform: translateY(3px);
}

.boton_funciones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1%;
    position: absolute;
    width: 80%;
    left: 4.5%;
    top: 80%;
    gap: 2%;
}

.interactividad{
    position: absolute;
    background-color:rgba(0, 0, 0, 0);
    width: 50%;
    height: 100vh;
    left: 50%;
    top: 8vh;
}

.interactividad #hacker, .interactividad #encriptado, .interactividad #desencriptado{
    position: absolute;
    width: 60%;
    height: 30%;
    top: 15%;
    left: 21%;
}

.mensaje textarea{
    position: absolute;
    background-color:rgba(0, 0, 0, 0);
    width: 60%;
    height: 30%;
    left: 21%;
    top: 49%;
    border: none;
    outline: 0;
    resize: none;
    font-family: inherit;
    font-size: 18px;
    color: lime;
}

.respuesta_proceso{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-style: normal;
    top: 10%;
    left: 21%;
    color: lime;
}

.titulo_mensaje{
    position: absolute;
    left: 21%;
    top: 46%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: lime;    
}

.botones2{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4%;
    position: absolute;
    width: 51%;
    left: 21%;
    top: 80%;
    gap: 22%;
}

.copiar1, .borrar1{
    align-items: center;
    justify-content: center;
    padding: 5%;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0);
    color: black;
    border: none;
    -webkit-box-shadow: 0px 5px 3px 0px black;
    -moz-box-shadow: 0px 3px 0px 0px black;
    box-shadow: 0px 5px 3px 0px black;
    transition: 0.7s;
    width: 40%;
}

.copiar1:hover, .borrar1:hover{
    background-color: lime;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 1px 0px black;
    -moz-box-shadow: 0px 2px 1px 0px black;
    box-shadow: 0px 2px 1px 0px black;
    transform: translateY(3px);
}

footer{
    position: absolute;
    width: 100vw;
    height: 4vh;
}

.echo{
    position: absolute;
    left: 45%;
    color: lime;
}

@media screen and (max-width: 1024px){
    .titulo{
        font-size: 20px;
        left: 30%;
    }

    .textarea1{
        width: 80%;
        height: 40%;
        left: 10%;
        top: 8%;
    }

    .condiciones{
        top: 49.5%;
        left: 10%;
    }

    .botones{
        width: 38%;
        left: 8%;
        top: 53%;
        gap: 2%;
    }

    .encriptar, .desencriptar, .copiar, .borrar{
        width: 69%;
    }

    .boton_funciones{
        width: 40%;
        left: 47%;
        top: 53%;
        gap: 2%;
    }

    .interactividad{
        width: 80%;
        height: 47%;
        left: 10%;
        top: 60%;
    }

    .respuesta_proceso{
        font-size: 12px;
        top: 1%;
        left: 14%;
    }

    .interactividad #hacker,  .interactividad #encriptado, .interactividad #desencriptado{
        width: 79%;
        height: 30%;
        top: 5%;
        left: 10%;
    }

    .titulo_mensaje{
        left: 14%;
        top: 36%;
        font-size: 14px;   
    }
    
    .mensaje textarea{
        width: 78%;
        height: 39%;
        left: 10%;
        top: 43%;
    }

    .botones2{
        width: 80%;
        left: 8%;
        top: 85%;
        gap: 15%;
    }

    .encriptar, .desencriptar, .copiar, .borrar, .copiar1, .borrar1{
        color: lime;
        border: 1px solid lime;
    }

    .echo{
        font-size: 20px;
        left: 30%;
    }
}

@media screen and (max-width: 900px){
    .matrix{
        position: absolute;
        width: 99.9vw;
        height: 100vh;
    }

    .titulo{
        left: 40%;
        top: 3%;
    }

    .botones2{
        top: 75%;
    }

    .echo{
        position: absolute;
        left: 40%;
        top: 22%;
    }


}

@media screen and (max-width: 768px){
    .matrix{
        position: absolute;
        width: 99.9vw;
        height: 100vh;
    }

    
}
